Flask==1.0.2
Flask_SQLAlchemy==2.3.2
Flask_Cors==3.0.4
numpy==1.14.3
SQLAlchemy==1.2.10
pandas==0.23.0
scikit_learn==0.20.1
certifi==2018.10.15

chardet==3.0.4

Click==7.0


gunicorn==19.9.0

heroku==0.1.4

idna==2.7

itsdangerous==0.24

Jinja2==2.11.3

MarkupSafe==1.0

python-dateutil==1.5

pytz==2018.5

requests==2.20.0

six==1.11.0

urllib3==1.24

Werkzeug==0.14.1

